.store_info{
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 50px;
	border-radius: 10px;
}

@media (min-width: 57px){
	.menu {
		border-radius: 5px;
		/*padding: 20px 0;*/
		width: 95%;
		margin: 20px auto;
		text-align: left;
	}
	.preview{
		margin-top: 10px;
	}
}

@media (min-width: 768px){
	.change_position {
		text-align: center;
		margin: 0 auto;
	}

	.menu {		
		width: 95%;
		margin: 20px auto;
		text-align: left;
	}
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

table .add_border {
	border-bottom: 1px solid gray;
}